@font-face
{
    font-family: HelveticaLight;
    src: url('/fonts/HelveticaLight.ttf');
}
.helveticas-light{
    font-family: HelveticaLight;
}

.helveticas{
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}
